.LoginPageBody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: #f9efd7;
  margin: 0px;
}

.LoginPageCard {
  display: inline-block;
  border: 2px solid black;
  width: 300px;
  height: 450px;
  background: white;
  border-radius: 20px;
  box-shadow: 3px 3px 0px #000;
}

.signindiv {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  font-size: 20px;
  height: 50px;
  width: 95px;
  position: relative;
  top: -20px;
  color: white;
  background: #e3cfff;
  border-radius: 12px;
  box-shadow: 2px 2px 0px #000;
}

.emailinput {
  width: 240px;
  margin: auto;
  font-size: 7px;
  color: lightgray;
  position: relative;
  top: 20px;
}
.emailinput input {
  border: none;
  background: lightgray;
  border-radius: 10px;
  width: 240px;
  height: 35px;
  outline: none;
  border: 1px solid grey;
  background: white;
  /* position: relative; */
  transition: 0.5s;
}

.emailinput label {
  position: absolute;
  top: -12px;
  font-size: 2.5em;
  color: rgba(0, 0, 0, 0.3);
  z-index: 999;
  padding: 20px;
  font-family: Arial, Helvetica, sans-serif;
  /* background: lightgray; */
  text-transform: uppercase;
  transition: 0.5s;
  transition-delay: 0.2s;
}
/* ----------------animation------------ */

.emailinput input:valid ~ label,
.emailinput input:focus ~ label {
  color: black;
  transform: translateX(8px) translateY(4px);
  font-size: 12px;
  padding: 0px 10px;
  background: white;
  border-left: 2px solid black;
  border-right: 2px solid black;
  border-bottom: 0px;
  border-top: 0px;
  letter-spacing: 0.4em;
}

.emailinput input:valid,
.emailinput input:focus {
  border: 2px solid black;
}

.requestOTPbtn {
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  font-size: 16px;
  height: 40px;
  width: 160px;
  position: relative;
  top: 70px;
  background: rgb(140, 82, 255);
  border-radius: 8px;
  color: white;
  box-shadow: 2px 4px 3px #000;
}
.requestOTPbtn:hover {
  cursor: pointer;
}

.requestOTPbtn:active {
  background-color: rgba(140, 82, 255, 0.8);
  box-shadow: 2px 2px 3px #000;
  transform: translateY(4px);
}
.signUpOptionDiv {
  display: flex;
  justify-content: center;
  text-align: center;
  position: relative;
  top: 130px;
  height: 20px;
  border-top: 2px solid black;
}
.signUpOptionDiv .orsignupwith {
  font-size: 10px;
  background: white;
  display: block;
  position: relative;
  top: -22px;
  height: 40px;
  padding: 0px 5px 0px 5px;
}

.btn span {
  font-size: 15px;
  font-weight: 700;
  position: absolute;
  top: 20px;
  cursor: pointer;
  margin-left: 8px;
}

.btn span a {
  text-decoration: none;
  color: #000;
}

.cardFooter {
  display: flex;
  position: relative;
  top: 20px;
}
